<section class="sec1"></section>
<section class="sec2">
  <div class="container">
    <div class="row text-white">
      <div class="col-md-4">
        <div class="my-5">
          <h4>SACABOLLOS ARTESANAL SIN DAÑAR LA PINTURA</h4>

          <p> Reparamos todo tipo de bollos, golpes de estacionamiento, etc. Garantizando una determinación excelente en
            vehículos con pintura original o repintados. Sin perder el valor de reventa de su auto.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-5">
          <h4>TRATAMIENTOS ACRÍLICOS / CERÁMICOS / COATINGS</h4>
          <p>En el negocio de estética vehícular hay que capacitarse mediante las últimas técnicas para que el vehículo
            quede con la pintura renovada, descontaminada, con un brillo espectácular y bien protegido de futuros daños
            contra rayas. Por eso utilizamos los mejores productos para que el vehículo quedé con la pintura 0KM.
            Dándole
            vida a cada parte de la carrocería incluyendo las ópticas.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-5">
          <h4>LIMPIEZAS DE TAPIZADOS</h4>
          <p>Limpieza de tapizado completa al vehículo, incluyendo techo, pisos, paneles, limpeando el cuero o tela de
            las
            butacas, alfombra, plástico y etc, mediante la hidrolavadora/aspiradora y productos para revivir el
            interior.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec3">

  <div class="mx-5">
      <!-- <div class="bxslider">
          <div><img class="my-4" width="100%" src="../../../assets/img/gei.png" alt=""></div>
          <div><img class="my-4" width="100%" src="../../../assets/img/coche.jpg" alt=""></div>
          <div><img class="my-4" width="100%" src="../../../assets/img/SONAX-LOGO.jpg" alt=""></div>
      </div> -->
    
    <h3 class="text-center text-light py-4">UTILIZAMOS ÚNICAMENTE MARCAS DE CALIDAD</h3>
    <img src="../../../assets/img/karcher.png" class="mx-5 py-5" width="200px">
    <img src="../../../assets/img/stanley.png" class="py-5 mx-5" width="200px">
    <img src="../../../assets/img/meguiars-logo.png" class="py-5 mx-5" width="250px">
    <img src="../../../assets/img/SONAX-LOGO.jpg" width="300px">
  </div>
</section>

<section class="sec4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="contacto-border">
            <div class="my-5 text-white">
              <h5 class="mb-4">Años de experiencia</h5>
              <p>
                Capacitación y 3 años en XP Sacabollos, y curso profesional de Detail en 3M Argentina.
              </p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div id="contacto-border">
              <div class="my-5 text-white text-justify">
                <h5 class="mb-4">Nuestro servicios</h5>
                <p class="mb-1">Sacabollos artesanal sin dañar la pintura.</p>
                <p class="mb-1">Tratamientos cerámicos/acrílicos.</p>
                <p class="mb-1">(con lavado incluido)</p>
                <p class="mb-1">Limpieza de tapizado profesional con Karcher</p>
                <p class="mb-1">de inyección y extracción.</p>
              </div>
            </div>
      </div>
      <div class="col-md-4">
        <div class="my-5 text-white text-justify">
          <h5 class="mb-4">Dirección</h5>
          <p class="mb-1">Av. San martín 3978 entre Franklin y Gascón. Lomas del mirador.</p>

          <ul class="list-unstyled list-inline mt-4">
            <li class="list-inline-item mx-3">
              <a href="https://www.facebook.com/NeiSacabollos/?ref=settings" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item mx-3">
              <a href="https://www.instagram.com/neisacabollos/?hl=es-la" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>