<section id="contacto" class="py-5">
  <div class="container">
    <h2>Contactame</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            <h4><i class="fas fa-phone"></i> CELULAR</h4>
          </div>
          <div class="card-body">
            <p class="my-4">1559193366</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            <h4><i class="fas fa-at"></i> EMAIL</h4>
          </div>
          <div class="card-body">
            <p class="my-4">nicoezeiba@hotmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            <h4><i class="fas fa-clock"></i> HORARIOS</h4>
          </div>
          <div class="card-body">
            <p>Lunes a Viernes de 9:00 AM a 18:00 PM</p>
            <p>Sàbados de 9:00 AM a 13:00 PM</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div id="contacto-border">
          <div class="my-5 text-white">
            <h5 class="mb-4">Años de experiencia</h5>
            <p>
              Capacitación y 3 años en XP Sacabollos, y curso profesional de Detail en 3M Argentina.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="contacto-border">
          <div class="my-5 text-white text-justify">
            <h5 class="mb-4">Nuestro servicios</h5>
            <p class="mb-1">Sacabollos artesanal sin dañar la pintura.</p>
            <p class="mb-1">Tratamientos cerámicos/acrílicos.</p>
            <p class="mb-1">(con lavado incluido)</p>
            <p class="mb-1">Limpieza de tapizado profesional con Karcher</p>
            <p class="mb-1">de inyección y extracción.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="my-5 text-white text-justify">
          <h5 class="mb-4">Dirección</h5>
          <p class="mb-1">Av. San martín 3978 entre Franklin y Gascón. Lomas del mirador.</p>

          <ul class="list-unstyled list-inline mt-4">
            <li class="list-inline-item mx-3">
              <a href="https://www.facebook.com/NeiSacabollos/?ref=settings" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item mx-3">
              <a href="https://www.instagram.com/neisacabollos/?hl=es-la" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>

<div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
